<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://elgrafografo.netlify.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/elgrafografo/elgrafografo.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://elgrafografo.netlify.app/" target="_blank">El Grafógrafo</a>
        </div>
        <p>Custom website inspired in brutalism design, built with HTML and CSS for El Grafógrafo, an unique library in Tijuana that brings 
        coffee and books together.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://agenciacreativa.netlify.app/ target="_blank">
        <img src="{{site.baseurl}}/img/featured/agenciacreativa/agenciacreativa.png" alt="">                                                              
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://agenciacreativa.netlify.app/" target="_blank">Agencia Creativa</a>
        </div>
        <p>Agencia Creativa is a custom responsive mock-up website built with semantic HTML, CSS and plain Javascript. </p>
      </figcaption>
    </div>

    <div class="project prfno">
      <figure class="project__pic">
        <a href="https://prfno.com.mx/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/prfno/prfno.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://prfno.com.mx/" target="_blank">PRFNO</a>
        </div>
        <p>Small website for Tijuana's local creative collective, PRFNO.</p>
      </figcaption>
    </div>
  </div>
</section>
